:root {
    --color-body: #F4EEE0;
    --color-heading: white;
    --color-base: #4F4557;
    --color-base2: #393646;
    --color-brand: #6D5D6E;
    --color-brand2: #19376D;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}

.section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
}

.bg-base {
    background-color: var(--color-base);
}

.youtube-fair {
    background-color: #cee08e;
}

.intro-fair {
    overflow: hidden;
    position: relative;
    background-image: url('../images/cheers.jpg');
    background-size:cover;
    background-position: top;
  }


/* NavBar */
nav {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    color : #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

.card-custom-image {
    width: 100%;
    height: 170px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}

.card-custom .card-custom-image-culture {
    overflow: hidden;
}

.card-custom .card-custom-image-culture img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image-culture img {
    transform: scale(1.1);
}

.card-custom-image-culture {
    width: 50%;
    height: 170px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}

.card-custom-content-culture {
    width: 50%;
    height: 170px;
}

.card-custom-content-culture p {
    color : #F4EEE0;

}




/* tab */
.card-tab {
    background-image: url('../images/paper1.jpg');
    background-size: cover;
    background-position: center;
}

.text-tab {
    font-size: xx-large;
    text-align: center;
    font-weight: 200;
}

.box-tab {
    background-color: #c5eb3b;
    width: 800px;
    background-position: center;
    opacity: 0.8;
}


/* footer */
.bi-facebook {
    color: #3B5998
}
.bi-twitter {
    color: #00ACEE
}
.bi-youtube {
    color: #FF0000
}
.bi-linkedin {
    color: #0E76A8
}
