:root {
    --color-body: #F4EEE0;
    --color-heading: white;
    --color-base: #4F4557;
    --color-base2: #393646;
    --color-brand: #6D5D6E;
    --color-brand2: #19376D;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

header {
    background-color: var(--color-base2);
}

/* NavBar */
.navbar {
    background-color: var(--color-base2);
}
.navbar a {
    color : white;
}

.navbar .nav-item {
    margin-left: 45px;
}

.navbar .nav-item .nav-link {
    padding: 5px 0;
    position : relative;
}

.navbar .nav-item .nav-link::before {
    content : '';
    position: absolute;
    left : 0;
    right : 0;
    bottom: 0;
    height: 1px;
    background-color: #E6E6E6;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
    transition : scale(1);
}

/* making : 소주 제조 과정 부분 */
#making {
    width: 100%;
    height: 100vh;
    background-color : var(--color-base);
    overflow: hidden;
    position: relative;
}
/* history : 소주 역사 부분 */
/* brand : 다양한 브랜드 부분 */
/* foods : 어울리는 안주 부분 */